{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
{{ with resources.Get "sass/layouts/index.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main class="grid-container">
    <div id="content" class="index">
        {{ with .Site.GetPage "_index.md" }}
            {{ .Content }}
        {{ end }}
    </div>

    <div class="sidebar">
        {{ if .Site.Taxonomies.categories }}
        <h3 class="taxonomy">
            <span class="icon">
                <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="taxonomy-svg">
                    <path d="M3.71,16.29a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21,1,1,0,0,0-.21.33,1,1,0,0,0,.21,1.09,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1,1,0,0,0,.21-1.09A1,1,0,0,0,3.71,16.29ZM7,8H21a1,1,0,0,0,0-2H7A1,1,0,0,0,7,8ZM3.71,11.29a1,1,0,0,0-1.09-.21,1.15,1.15,0,0,0-.33.21,1,1,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1,1,0,0,0,3.71,11.29ZM21,11H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2ZM3.71,6.29a1,1,0,0,0-.33-.21,1,1,0,0,0-1.09.21,1.15,1.15,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21,1,1,0,0,0,1.09-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1.15,1.15,0,0,0,3.71,6.29ZM21,16H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg>
            </span>
            <a href="/categories/">Categories</a>
        </h3>
        <ul class="nav-list sidenav">
            {{range first 10 ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
            <li>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ if .Site.Taxonomies.tags }}
        <p></p>
        <h3 class="taxonomy">
            <span class="icon">
                <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="taxonomy-svg">
                    <path d="M7.5,6A1.5,1.5,0,1,0,9,7.5,1.5,1.5,0,0,0,7.5,6Zm13.62,4.71L12.71,2.29A1,1,0,0,0,12,2H3A1,1,0,0,0,2,3v9a1,1,0,0,0,.29.71l8.42,8.41a3,3,0,0,0,4.24,0L21.12,15a3,3,0,0,0,0-4.24Zm-1.41,2.82h0l-6.18,6.17a1,1,0,0,1-1.41,0L4,11.59V4h7.59l8.12,8.12a1,1,0,0,1,.29.71A1,1,0,0,1,19.71,13.53Z"/></svg>
            </span>
            <a href="/tags/">Tags</a>
        </h3>
        <ul class="nav-list sidenav">
            {{range first 10 ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
            <li>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</main>
{{ end }}
