{{ $parsedUrl := urls.Parse .Site.BaseURL }}
{{ $domain := $parsedUrl.Host }}
{{ $domainWithoutWWW := replace $domain "www." "" }}
<header id="header">
  <h1>
    <a href="{{ .Site.BaseURL }}">{{ .Site.Params.title | default .Site.Title }}</a>
    <button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="Toggle theme">
        <svg width="2rem" height="2rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
        <path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/>
        </svg>
    </button>
  </h1>

  <nav>
    {{ range .Site.Menus.main }}
    <span class="nav-bar-item">
      {{ if .Pre }}
        <span class="icon">{{ .Pre | safeHTML }}</span>
      {{ end }}
      <a class="link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
    </span>
    {{ end }}
  </nav>
</header>
<hr class="head-rule"></hr>