<link rel="stylesheet" href='{{ "katex/katex.min.css" | relURL }}'>
<script defer defer src='{{ "katex/katex.min.js" | relURL}}'></script>
<script defer src='{{ "katex/contrib/auto-render.min.js" | relURL}}'></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          throwOnError : false
        });
    });
</script>