{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/list.css" }}
{{ with resources.Get "sass/layouts/list.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ if .Site.Params.enableDuckDuckGoSearchBox }}
  <div id="searchbox">
    <form method="get" id="ddgSearch" target="_blank" action="https://duckduckgo.com/">
        <input type="hidden" name="sites" value="{{ .Site.BaseURL }}"/>
        <input type="hidden" name="kf" value="-1"> <!-- no favicons -->
        <input type="hidden" name="kh" value="1"> <!-- https -->
        <input type="hidden" name="kae" value="d" > <!-- dark theme -->
        <input type="hidden" name="k1" value="-1" > <!-- no ads -->
        <input type="text" name="q" placeholder="Search…" aria-label="Search michaelneuper.com on DuckDuckGo"/>
        <button type="submit">
            <svg aria-hidden="true" height="1rem" viewBox="0 0 16 16" version="1.1" width="1rem" data-view-component="true" class="octicon octicon-search Button-visual">
            <path d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"></path>
            </svg>
          </button>
    </form>
  </div>
  {{ end }}  
  {{ $pages := where .Data.Pages "Type" "posts" }}
  {{ range $pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <h3>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <div class="post-group">
    <h3>...</h3>
  </div>
</main>
{{ end }}
